<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddBatch</title>
</head>
<body>
    <h1>AddBatch</h1>
<!--     <form th:object="${batch}" th:action="@{/admin/batches/BatchesHome/{id}/add (id=${course.id})}" method="post"> -->
        <form th:object="${batch}" th:action="@{/admin/batches/BatchesHome/{id}/add (id=${courseId})}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" th:field="*{id}"/><br/>
        <label for="courseId">Course ID:</label>
        <input type="text" id="courseId" name="courseId" th:field="*{courseId}"/><br/>
        <label for="batchName">Batch Name:</label>
        <input type="text" id="batchName" name="batchName" th:field="*{batchName}"/><br/>
        <label for="batchStartDate">Start Date:</label>
        <input type="text" id="batchStartDate" name="batchStartDate" th:field="*{batchStartDate}"/><br/>
        <label for="batchEndDate">End Date:</label>
        <input type="text" id="batchEndDate" name="batchEndDate" th:field="*{batchEndDate}"/><br/>
        <label for="batchTiming">Timing:</label>
        <input type="text" id="batchTiming" name="batchTiming" th:field="*{batchTiming}"/><br/>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>
