<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Album</title>
</head>
<body>
    <h1>Album Details</h1>
    <table>
        <tr>
            <td>ID:</td>
            <td th:text="${album.id}"></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td th:text="${album.title}"></td>
        </tr>
        <tr>
            <td>Start Date:</td>
            <td th:text="${album.startDate}"></td>
        </tr>
        <tr>
            <td>End Date:</td>
            <td th:text="${album.endDate}"></td>
        </tr>
    </table>
    <a href="/admin/albums">Back to Albums</a>
</body>
</html>