<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Student List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <a href="/admin" class="btn btn-primary float-right" style="margin-top: 10px;">Back to Admin Panel</a>
        <h1>Student List</h1>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course Enrolled</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.courseEnrolled}"></td>
                    <td th:text="${student.amount}"></td>
                    <td>
                        <a th:href="@{/admin/enrollment/reciept/{id}(id=${student.id})}" class="btn btn-primary">Reciept</a>
                        <a th:href="@{/admin/enrollment/delete/{id}(id=${student.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <a th:href="@{/admin/enrollment/new}" class="btn btn-success">Add Student</a>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
	
<!--     <meta charset="UTF-8"/> -->
<!--     <title>Student List</title> -->
<!-- </head> -->
<!-- <body> -->
<!--     <h1>Student List</h1> -->
<!--     <table> -->
<!--         <thead> -->
<!--             <tr> -->
<!--                 <th>Name</th> -->
<!--                 <th>Email</th> -->
<!--                 <th>Course Enrolled</th> -->
<!--                 <th>Amount</th> -->
<!--                 <th>Actions</th> -->
<!--             </tr> -->
<!--         </thead> -->
<!--         <tbody> -->
<!--             <tr th:each="student : ${students}"> -->
<!--                 <td th:text="${student.name}"></td> -->
<!--                 <td th:text="${student.email}"></td> -->
<!--                 <td th:text="${student.courseEnrolled}"></td> -->
<!--                 <td th:text="${student.amount}"></td> -->
<!--                 <td> -->
<!--                     <a th:href="@{/admin/enrollment/reciept/{id}(id=${student.id})}">Reciept</a> -->
<!--                     <a th:href="@{/admin/enrollment/delete/{id}(id=${student.id})}" onclick="return confirm('Are you sure you want to delete this student?')">Delete</a> -->
<!--                 </td> -->
<!--             </tr> -->
<!--         </tbody> -->
<!--     </table> -->
<!--     <br/> -->
<!--     <a th:href="@{/admin/enrollment/new}">Add Student</a> -->
<!-- </body> -->
<!-- </html> -->
