<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Batches</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/HomePage/courses/batches.css" >
</head>
<body>
	<div class="container">
	    <!-- Display course image and title -->
	    <div class="row mt-3" th:each="c : ${course}">
		    <div class="col-12 text-center">
		        <img th:src="${c.youtubeLink}" alt="Course Image" class="img-fluid">
		        <h1><span th:text="${c.courseTitle}"></span></h1>
		    </div>
	    </div>

	    <!-- Display course description, duration, fees and age group -->
	    <div class="row mt-3" th:each="c : ${course}">
	        <div class="col-12">
		        <p><strong>About Course: </strong><span th:text="${c.courseDescription}"></span></p>
		    </div>
	        <div class="col-md-4">
		        <p><strong>Age Group: </strong><span th:text="${c.ageGroup}"></span></p>
		    </div>
		    <div class="col-md-4 text-center">
		        <p><strong>No. of Hours: </strong><span th:text="${c.courseDuration}"></span></p>
		    </div>
		    <div class="col-md-4 text-right">
		        <p><strong>Course Fee: </strong><span th:text="${c.courseFee}"></span></p>
		    </div>
	    </div>
	    
	    

	    <!-- Display batches -->
	    <div class="row mt-3">
	        <div class="col-12">
	            <table class="table">
	                <th:block th:if="${batches.size() > 0}">
	                    <thead>
	                        <tr>
	                            <th>Start Date</th>
	                            <th>Batch Name</th>
	                            <th>Timing</th>
	                            <th>End Date</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="batch : ${batches}">
	                            <td th:text="${batch.batchStartDate}"></td>
	                            <td th:text="${batch.batchName}"></td>
	                            <td th:text="${batch.batchTiming}"></td>
	                            <td th:text="${batch.batchEndDate}"></td>
	                        </tr>
	                    </tbody>
	                </th:block>
	                <th:block th:if="${batches.size() == 0}">
	                    <div class="text-center">
	                        <p>No batches available right now</p>
	                    </div>
	                </th:block>
	            </table>
	        </div>
	    </div>

	    <!-- Creative Corner -->
	    <div class="container">
  <div class="row">
    <div class="col-12">
      <h3><strong>Creative Corner</strong></h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3" th:each="url : ${urls}">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe th:src="${url.url}" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
</div>

	</div>
</body>
</html>


















<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- 	<meta charset="UTF-8"> -->
<!-- 	<title>Batches</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<!-- Display course image and title --> -->
<!-- 	<div th:each="c : ${course}"> -->
<!-- 		<img th:src="${c.youtubeLink}" alt="Course Image" style="display:block; margin:auto; max-width:100%;"> -->
<!-- 		<h1 style="text-align:center;"><span th:text="${c.courseTitle}"></span></h1> -->
<!-- 	</div> -->

<!-- 	<!-- Display course description, duration, fees and age group --> -->
<!-- 	<p  th:each="c : ${course}">About Course: <span th:text="${c.courseDescription}"></span></p> -->
<!-- 	<div style="display:flex; justify-content:space-between; align-items:center;" th:each="c : ${course}"> -->
<!-- 		<div style="width:33.33%; text-align:left;"> -->
<!-- 			<p>Age Group: <span th:text="${c.ageGroup}"></span></p> -->
<!-- 		</div> -->
<!-- 		<div style="width:33.33%; text-align:center;"> -->
<!-- 			<p>No. of Hours: <span th:text="${c.courseDuration}"></span></p> -->
<!-- 		</div> -->
<!-- 		<div style="width:33.33%; text-align:right;"> -->
<!-- 			<p>Course Fee: <span th:text="${c.courseFee}"></span></p> -->
<!-- 		</div> -->
<!-- 	</div> -->
	

<!-- 		<table style="width:100%;"> -->
<!--     <th:block th:if="${batches.size() > 0}"> -->
<!--         <thead> -->
<!--             <tr> -->
<!--                 <th>Start Date</th> -->
<!--                 <th>Batch Name</th> -->
<!--                 <th>Timing</th> -->
<!--                 <th>End Date</th> -->
<!--             </tr> -->
<!--         </thead> -->
<!--         <tbody> -->
<!--             <tr th:each="batch : ${batches}"> -->
<!--                 <td th:text="${batch.batchStartDate}"></td> -->
<!--                 <td th:text="${batch.batchName}"></td> -->
<!--                 <td th:text="${batch.batchTiming}"></td> -->
<!--                 <td th:text="${batch.batchEndDate}"></td> -->
<!--             </tr> -->
<!--         </tbody> -->
<!--     </th:block> -->
<!--     <th:block th:if="${batches.size() == 0}"> -->
<!--         <div style="text-align:center;"> -->
<!--             <p>No batches available right now</p> -->
<!--         </div> -->
<!--     </th:block> -->
<!-- </table> -->

<!-- 		<h3><strong>Creative Corner </strong></h3> -->

<!-- 		<tbody> -->
<!--             <tr th:each="urls : ${urls}"> -->
<!--                 <td> -->
<!--                     <iframe th:src="${urls.url}" width="360" height="215"></iframe> -->
<!--                 </td> -->
<!--             </tr> -->
<!--         </tbody> -->

<!-- </body> -->
<!-- </html> -->


