<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Albums</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<a href="/admin" class="btn btn-primary float-right" style="margin-top: 10px; margin-right: 100px;">Back to Admin Panel</a>
    <div class="container">
        <h1>Albums</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="album : ${albums}" th:if="${album.id != 10}">
                    <td th:text="${album.title}"></td>
                    <td th:text="${album.startDate}"></td>
                    <td th:text="${album.endDate}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" th:href="@{/admin/albums/edit/{id}(id=${album.id})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/admin/albums/delete/{id}(id=${album.id})}">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-success" href="/admin/albums/add">Add Album</a>
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XvoBoPeLEuaaIaZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!--     <title>Albums</title> -->
<!-- </head> -->
<!-- <body> -->
<!--     <h1>Albums</h1> -->
<!--     <table> -->
<!--         <thead> -->
<!--             <tr> -->
<!--                 <th>Title</th> -->
<!--                 <th>Start Date</th> -->
<!--                 <th>End Date</th> -->
<!--                 <th>Actions</th> -->
<!--             </tr> -->
<!--         </thead> -->
<!--         <tbody> -->
<!--             <tr th:each="album : ${albums}"> -->
<!--                 <td th:text="${album.title}"></td> -->
<!--                 <td th:text="${album.startDate}"></td> -->
<!--                 <td th:text="${album.endDate}"></td> -->
<!--                 <td> -->
<!--                     <a th:href="@{/admin/albums/edit/{id}(id=${album.id})}">Edit</a> -->
<!--                     <a th:href="@{/admin/albums/delete/{id}(id=${album.id})}">Delete</a> -->
<!--                 </td> -->
<!--             </tr> -->
<!--         </tbody> -->
<!--     </table> -->
<!--     <a href="/admin/albums/add">Add Album</a> -->
<!-- </body> -->
<!-- </html> -->