<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Album</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/GalleryAlbums/edit_album.css">
</head>
<body>
    <div class="container">
        <h1>Edit Album</h1>
        <form th:action="@{/admin/albums/edit}" th:object="${album}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" th:field="*{title}" required />
            </div>
            

            
            <div class="form-group">
                <label>Start Date(mm-dd-yyyy):</label>
                <input type="text" class="form-control" th:field="*{startDate}" required />
            </div>
            <div class="form-group">
                <label>End Date(mm-dd-yyyy):</label>
                <input type="text" class="form-control" th:field="*{endDate}" required />
            </div>
            <div class="form-group">
                <label>Set Cover Photo:</label>
                <div class="card-columns">
                    <div th:each="photo : ${photos}" class="card">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" th:name="coverPhotoId" th:value="${photo.id}" th:checked="${photo.id == album.coverPhotoId}"/>
                            <img class="card-img-top" th:src="${photo.photoUrl}" alt="Photo"/>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(photos)}">
                    <p>No photos available in the album to set as cover photo.</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>





<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!--     <title>Edit Album</title> -->
<!-- </head> -->
<!-- <body> -->
<!--     <h1>Edit Album</h1> -->
<!--     <form th:action="@{/admin/albums/edit}" th:object="${album}" method="post"> -->
<!--         <input type="hidden" th:field="*{id}" /> -->
<!--         <label>Title:</label> -->
<!--         <input type="text" th:field="*{title}" required /> <br /> -->
<!--         <label>Start Date:</label> -->
<!--         <input type="text" th:field="*{startDate}" required /> <br /> -->
<!--         <label>End Date:</label> -->
<!--         <input type="text" th:field="*{endDate}" required /> <br /> -->
<!--         <label>Set Cover Photo:</label> -->
<!-- <div th:each="photo : ${photos}"> -->
<!--     <input type="radio" th:name="coverPhotoId" th:value="${photo.id}" th:checked="${photo.id == album.coverPhotoId}"/> -->
<!--     <img th:src="${photo.photoUrl}"/>  -->
<!-- </div> -->

<!--         <button type="submit">Update</button> -->
<!--     </form> -->
<!-- </body> -->
<!-- </html> -->


